<%- include("../includes/navbar"); %>

<main class="x101">
 
    <%- include("../includes/sidebar", {data:"services"}) %>
  <!-- <section class="hide"></section> -->
  <!-- <section class="banner">
        <img src="assets/img/chatUI.jpeg" alt="" />
      </section> -->

  <!-- <section class="x110 container-fit-content"> -->
  <%- include("../includes/marketMenuDescription") %>


  <%- include("../includes/marketMenuDescription") %>
   
  <!-- </section> -->
</main>



<%- include("../includes/footer"); %>

