<%- include("includes/navbar"); %>

<main class="main-home" style="padding: 0; margin: 0">
    <section
        class="mx00"
        style="
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            margin: 0;
        "
    >
        <div class="m100">
            <div class="m100_1">
                <a href="#">
                    <img
                        src="assets\img\iMessage1.jpeg"
                        height="100%"
                        width="100%"
                        alt=""
                        title="Cover Photo"
                        class="ux111"
                    />
                </a>
                <div class="m100_1x">
                    <a href="#">
                        <img
                            src="assets\img\chatUI.jpeg"
                            height="100%"
                            width="100%"
                            alt=""
                            title="Pofile Photo"
                            class="ux111"
                        />
                    </a>
                    <button class="m100_1x1">
                        <i class="fa fa-camera"></i>
                    </button>
                </div>
                <button class="m100_1x2">
                    <i class="fa fa-camera"></i> Edit Cover Photo
                </button>
            </div>
            <div class="m100_2 m_cx">
                <h1>Rotimi Oluwafemi</h1>
                <a
                    id="___editBioToggler"
                    href="#"
                    class="m100_2x1 text-bold openBioContainerToggler"
                    >Click to add bio. But if you had some, the click will not
                    function. You have to click Edit Peofile to change it.</a
                >
                <div class="bioInputContainer"></div>
            </div>
            <div class="m100_3">
                <div class="m100_2x">
                    <a href="/p/posts" class="m100_x">Posts</a>
                    <a href="/p/about" class="m100_x">About</a>
                    <a href="/p/friends" class="m100_x">Friends</a>
                    <a href="/p/withdraw" class="m100_x">Withdraw</a>
                    <a href="/p/deposit" class="m100_x">Deposit</a>
                    <a href="/p/transactions" class="m100_x">Transactions</a>
                </div>
                <div class="m100_4x" style="position: relative;">
                    <button class="btn-i btn-i-b">
                        <i class="fa fa-envelope"></i>
                    </button>
                    <button class="btn-i btn-i-o dropDownMenuToggler" id="___profileMoreSettings">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <button
                        class="m100_x _x gmodalxx321"
                        id="__editProfileButton"
                    >
                        <i class="fa fa-pen"></i> Edit Profile
                    </button>
                </div>
            </div>
        </div>

        <div class="m200 m_cx">
            <div class="m10 x">
                <!--  -->

                <!--  -->
                <div class="card card-card">
                    <div
                        class="card-header"
                        style="align-items: baseline; align-content: center"
                    >
                        <!-- <div class="card-header-image"></div> -->
                        <div class="card-header-info">
                            <h3>Sponsored Posts <span class="tx01">5</span></h3>
                        </div>
                        <button class="c001 c112 p-1 btn">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="card-body px">
                        <div class="px00 sp01">
                            <a href="#">
                                <img
                                    src="assets\img\chatUI.jpeg"
                                    height="100%"
                                    width="100%"
                                    alt=""
                                    title="post"
                                    class="ux111"
                                />
                                <div class="px00_ px001">
                                    <p>This is a sponsored</p>
                                </div>
                            </a>
                        </div>
                        <div class="px00 sp01">
                            <a href="#">
                                <img
                                    src="assets\img\chatUI.jpeg"
                                    height="100%"
                                    width="100%"
                                    alt=""
                                    title="post"
                                    class="ux111"
                                />
                                <div class="px001 px00_">
                                    <p>This is a sponsored</p>
                                </div>
                            </a>
                        </div>
                        <div class="px00 sp01">
                            <a href="#">
                                <img
                                    src="assets\img\chatUI.jpeg"
                                    height="100%"
                                    width="100%"
                                    alt=""
                                    title="post"
                                    class="ux111"
                                />
                                <div class="px001 px00_">
                                    <p>This is a sponsored</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card card-card">
                    <div
                        class="card-header"
                        style="align-items: baseline; align-content: center"
                    >
                        <!-- <div class="card-header-image"></div> -->
                        <div class="card-header-info">
                            <h3>
                                Earnings <span class="tx01">+500 today</span>
                            </h3>
                        </div>
                        <button class="c001 c112 p-1 btn">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="card-body px">
                        <div class="px00">
                            <div class="px001 px00_">
                                <h1>NGN 34,000</h1>
                            </div>
                            <h5 class="ux0">Daily Login</h5>
                        </div>
                        <div class="px00">
                            <div class="px001 px00_">
                                <h1>NGN 100,000</h1>
                            </div>
                            <h5 class="ux0">Mining</h5>
                        </div>
                        <div class="px00">
                            <div class="px001 px00_">
                                <h1>NGN 343,000</h1>
                            </div>
                            <h5 class="ux0">Miscellenous</h5>
                        </div>
                    </div>
                </div>
                <div class="card card-card">
                    <div
                        class="card-header"
                        style="align-items: baseline; align-content: center"
                    >
                        <!-- <div class="card-header-image"></div> -->
                        <div class="card-header-info">
                            <h3>Photos</h3>
                        </div>
                        <a href="/p/photos" class="c001 c112 p-1 btn">
                            <i class="fa fa-chevron-right btn"></i>
                        </a>
                    </div>
                    <div class="card-body px">
                        <div class="px00">
                            <div class="px001">
                                <a href="#">
                                    <img
                                        src="assets\img\chatUI.jpeg"
                                        height="100%"
                                        width="100%"
                                        alt=""
                                        title="post"
                                        class="ux111"
                                    />
                                </a>
                            </div>
                            <!-- <h5 class="ux0">Username</h5> -->
                        </div>
                        <div class="px00">
                            <div class="px001">
                                <a href="#">
                                    <img
                                        src="assets\img\chatUI.jpeg"
                                        height="100%"
                                        width="100%"
                                        alt=""
                                        title="post"
                                        class="ux111"
                                    />
                                </a>
                            </div>
                            <!-- <h5 class="ux0">Username</h5> -->
                        </div>
                        <div class="px00">
                            <div class="px001">
                                <a href="#">
                                    <img
                                        src="assets\img\chatUI.jpeg"
                                        height="100%"
                                        width="100%"
                                        alt=""
                                        title="post"
                                        class="ux111"
                                    />
                                </a>
                            </div>
                            <!-- <h5 class="ux0">Username</h5> -->
                        </div>
                    </div>
                </div>
                <div class="card card-card">
                    <div
                        class="card-header"
                        style="align-items: baseline; align-content: center"
                    >
                        <!-- <div class="card-header-image"></div> -->
                        <div class="card-header-info">
                            <h3>Friends <br /><span>3,353 Friends</span></h3>
                        </div>
                        <a href="/p/friends" class="c001 c112 p-1 btn">
                            <i class="fa fa-chevron-right btn"></i>
                        </a>
                    </div>
                    <div class="card-body px">
                        <div class="px00">
                            <div class="px001">
                                <a href="#">
                                    <img
                                        src="assets\img\chatUI.jpeg"
                                        height="100%"
                                        width="100%"
                                        alt=""
                                        title="post"
                                        class="ux111"
                                    />
                                </a>
                            </div>
                            <h5 class="ux0">Username</h5>
                        </div>
                        <div class="px00">
                            <div class="px001">
                                <a href="#">
                                    <img
                                        src="assets\img\chatUI.jpeg"
                                        height="100%"
                                        width="100%"
                                        alt=""
                                        title="post"
                                        class="ux111"
                                    />
                                </a>
                            </div>
                            <h5 class="ux0">Username</h5>
                        </div>
                        <div class="px00">
                            <div class="px001">
                                <a href="#">
                                    <img
                                        src="assets\img\chatUI.jpeg"
                                        height="100%"
                                        width="100%"
                                        alt=""
                                        title="post"
                                        class="ux111"
                                    />
                                </a>
                            </div>
                            <h5 class="ux0">Username</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m10 y">
                <!-- Create content container -->

                <div class="card card-card">
                    <div class="card-header">
                        <div class="card-header-image">
                            <img
                                src="assets\img\chatUI.jpeg"
                                height="100%"
                                width="100%"
                                alt=""
                            />
                        </div>
                        <div class="card-header-info">
                            <button
                                class="openModalContent x011"
                                id="__createPost"
                            >
                                <%- dailyGreeting %>
                            </button>
                        </div>
                    </div>
                    <!-- <div class="card-body"></div> -->
                    <div class="card-footer creator">
                        <button class="">
                            <i class="fa fa-camera"></i>&nbsp; Image/Photo
                        </button>
                        <button class="">
                            <i class="fa fa-user-plus"></i>&nbsp; Tag Friends
                        </button>
                        <button>
                            <i class="fa fa-quote-right"></i> &nbsp; Activity
                        </button>
                    </div>
                </div>

                <%- include(posts) %>
                <!-- \create content -->
                <!-- Post card -->
            </div>
        </div>
    </section>

    <%- include("includes/modal.ejs") %>
</main>

<%- include("includes/footer", {hide:"hide"}); %>
